* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	font-family: 'Roboto';
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #000;
	background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}
input,
button,
textarea {
	font-family: 'Roboto';
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background: transparent;
	outline: none;
	font: inherit;
	color: inherit;
	-webkit-appearance: none !important;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	-webkit-appearance: none !important;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.form,
.greetings {
	display: none;
	color: #fff;
	font-size: 64px;
}

.showing {
	display: block;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bgImage {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	animation: fadein 1s linear;
}

.js-clock {
	display: flex;
	align-items: center;
}

.clock-title {
	color: #fff;
	font-size: 200px;
	font-weight: 700;
}

.js-input {
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	width: 200px;
	min-height: 50px;
	line-height: 22px;
	border: 1px solid #5b5b5a;
	overflow: hidden;
	border-radius: 8px;
	color: #000;
	outline: none;
	word-break: break-word;
	font-size: 18px;
	padding: 12px;
	pointer-events: auto;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.js-input::placeholder {
	color: #000;
}

.js-input:focus {
	box-shadow: inset 0 0 0 1px #2f80ed;
	caret-color: #2f80ed;
}

.form-control {
	display: block;
	background-color: rgba(255, 255, 255, 0.5);
	width: 265px;
	min-height: 30px;
	line-height: 22px;
	border: 1px solid #5b5b5a;
	overflow: hidden;
	border-radius: 8px;
	color: #000;
	outline: none;
	word-break: break-word;
	font-size: 18px;
	padding: 12px;
	pointer-events: auto;
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 30px;
}

.form-control::placeholder {
	color: #000;
}

.form-control:focus {
	box-shadow: inset 0 0 0 1px #2f80ed;
	caret-color: #2f80ed;
}

.js-toDoForm {
	position: absolute;
	left: 30px;
	top: 40%;
}

.js-toDoList {
	position: absolute;
	left: 30px;
	top: 55%;
}

.js-toDoList li {
	margin-bottom: 8px;
}

.js-toDoList li span {
	color: #fff;
	margin-left: 4px;
	text-transform: uppercase;
}

.js-weather {
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: #fff;
	font-size: 48px;
}
